<layout name="same" />
<script>
    $(function(){
        $("#blogactive").attr("class","active");

    });
</script>

      <!-- Main content -->
      <div class="templatemo-content col-1 light-gray-bg">
        <div class="templatemo-top-nav-container">
          <div class="row">
            <nav class="templatemo-top-nav col-lg-12 col-md-12">
              <ul class="text-uppercase">
                <li><a href="<?php echo U('Blog/blog'); ?>" class="active">博文列表</a></li>
                <li><a href="">Dashboard</a></li>
                <li><a href="">Overview</a></li>
                <li><a href="<?php echo U('Home/Index/index'); ?>">前台</a></li>
              </ul>
            </nav>
          </div>
        </div>
		    
        <div class="templatemo-content-container">
          <div class="templatemo-content-widget white-bg">
            <h2 class="margin-bottom-10">添加博文</h2>
            <p>请在下面详细填写博文内容</p>
            <form action="<?php echo U('Blog/edit'); ?>" class="templatemo-login-form" method="post" enctype="multipart/form-data">
              <div class="row form-group">
                <div class="col-lg-6 col-md-6 form-group">                  
                    <label for="inputFirstName">标题</label>
                    <input type="text" class="form-control" id="inputFirstName" name="title" value="<?php echo $info['title']; ?>">                  
                </div>
                <div class="col-lg-6 col-md-6 form-group">                  
                    <label for="inputLastName">标签</label>
                    <input type="text" class="form-control" id="inputLastName" name="tag" value="<?php echo $info['tag']; ?>">                  
                </div> 
              </div>
              <div class="row form-group">
                <div class="col-lg-6 col-md-6 form-group">                  
                    <label for="inputUsername">点赞数</label>
                    <input type="text" class="form-control" id="inputUsername" name="dianzan" value="<?php echo $info['dianzan']; ?>">                  
                </div>
                
              </div>
              
             
              <div class="row form-group">
                <div class="col-lg-12 has-success form-group">                  
                    <label class="control-label" for="inputWithSuccess">关键词</label>
                    <input type="text" class="form-control" id="inputWithSuccess" name="keyword" value="<?php echo $info['keyword']; ?>">
                </div>
              </div>
              
              
              <div class="row form-group">
                <div class="col-lg-12 form-group">                   
                    <label class="control-label" for="inputNote">内容</label>
                    <textarea class="form-control" id="inputNote" name="content" rows="3" ><?php echo $info['content']; ?></textarea>
                </div>
              </div>
              
              <div class="row form-group">
                
                <div class="col-lg-6 col-md-6 form-group">
                  <div>
                    <label class="control-label templatemo-block">是否显示</label> 
                    <div class="templatemo-block margin-bottom-5">
                      <input type="radio" name="is_show" id="r1" value="1" <?php echo $info['is_show']==1?'checked':''; ?>>
                      <label for="r1" class="font-weight-400"><span></span>显示</label>
                    </div>
                    <div class="templatemo-block margin-bottom-5">
                      <input type="radio" name="is_show" id="r2" value="0" <?php echo $info['is_show']==0?'checked':''; ?>>
                      <label for="r2" class="font-weight-400"><span></span>不显示</label>
                    </div>
                      <input type = 'hidden' name="id" value="<?php echo $info['id']; ?>">	              
                  </div>                  
                </div> 
              </div>
            
              
              <div class="row form-group">
                <div class="col-lg-12">
                  <label class="control-label templatemo-block">上传图片</label> 
                  <!-- <input type="file" name="fileToUpload" id="fileToUpload" class="margin-bottom-10"> -->
                  <input type="file"  id="fileToUpload" name="upload" class="filestyle" data-buttonName="btn-primary" data-buttonBefore="true" data-icon="false" >
                  <p>图片不能为空，最大上传大小为5M</p>                  
                </div>
              </div>
              <div class="form-group text-right">
                <button type="submit" class="templatemo-blue-button">提交</button>
                <button type="reset" class="templatemo-white-button">重置</button>
              </div>                           
            </form>
          </div>
          <footer class="text-right">
            <p>Copyright &copy; 2084 Company Name 
            | More Templates <a href="http://www.mycodes.net/" target="_blank">源码之家</a></p>
          </footer>
        </div>
      </div>
    </div>

    <!-- JS -->
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.11.2.min.js"></script>        <!-- jQuery -->
    <script type="text/javascript" src="__PUBLIC__/js/bootstrap-filestyle.min.js"></script>  <!-- http://markusslima.github.io/bootstrap-filestyle/ -->
    <script type="text/javascript" src="__PUBLIC__/js/templatemo-script.js"></script>        <!-- Templatemo Script -->
  </body>
</html>
